<html>
<head>
  <meta charset="UTF-8">
  <title>Todos</title>
</head>
<body>
  <h1>Todos</h1>
  <form action="/todos" method="post">
    <input type="text" name="content">
    <button type="submit">Submit</button>
  </form>
  <ul>
    <% if (todos) { %>
      <% todos.forEach((todo) => { %>
        <li><%= todo.content %></li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>